<!--Footer-->
<div class="row footer">
    <div class="col-12 col-xl-3 py-3 px-xl-5">
        <h2 class="mb-4">Enlaces frecuentes</h2>
        <p><a data-route="/privacy-policy" href="#" class="no-format-link">Política de privacidad</a></p>
        <p><a data-route="/cookies" class="no-format-link">Declaración de cookies</a></p>
    </div>
    <div class="col-12 col-xl-3 py-3 px-xl-5">
        <h2 class="mb-4">Navegación</h2>
        <p><a data-route="/" class="no-format-link">Inicio</a></p>
        <p><a data-route="/shop" class="no-format-link">Tienda</a></p>
        <p><a data-route="/contact" href="contact.html" class="no-format-link">Contacto</a></p>
    </div>
    <div class="col-12 col-xl-3 py-3 px-xl-5">
        <h2 class="mb-4">Redes sociales</h2>
        <p><a href="https://www.instagram.com/" class="no-format-link" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
        <p><a href="https://www.facebook.com/" class="no-format-link" target="_blank"><i class="fa-brands fa-square-facebook"></i> Facebook</a></p>
    </div>
    <div class="col-12 col-xl-3 py-3 px-xl-5">
        <h2 class="mb-4">Información de contacto</h2>
        <p><a href="tel:+34687859323" class="no-format-link"><i class="fa-solid fa-phone"></i> 633 33 33 33</a></p>
        <p><a href="mailto:contacto@joyeria.com" class="no-format-link"><i class="fa-solid fa-envelope"></i> contacto@joyeria.com</a></p>
        <p><i class="fa-solid fa-map-location"></i> Calle Real 33, 45200, Illescas, Toledo</p>
    </div>
</div>